.Content {
  min-height: calc(100vh - var(--header-height));
  height: calc(100vh - var(--header-height));
  padding: 40px;
  background: var(--content-background-color);
  flex-grow: 3;

  box-shadow: 0 0 7px var(--primary-color);
  padding-top: 30px;
  transition: 0.3s;
}
