.RegisterForm {
  display: flex;
  flex-direction: column;
  color: var(--secondary-color);
  height: max-content;
  align-items: center;
  max-width: 600px;
  gap: 20px;
}
.Title {
  color: var(--primary-color);
}

.Input {
  color: var(--background-color);
  background-color: var(--inputs-background-color);
  background-color: var(--inputs-background-color) !important;
  color: var(--primary-color) !important;
  border: var(--primary-color) !important;
  border-bottom: white;
  &:hover,
  &:focus,
  &:active,
  &:invalid {
    background-color: var(--inputs-background-color) !important;
    color: var(--primary-color) !important;
    border: var(--primary-color) !important;
    border-bottom: white;
  }
}

.closeEye {
  color: var(--primary-color) !important;
  background-color: white;
}
.Item {
  color: var(--primary-color);
}
.labelText {
  width: 100%;
  color: var(--primary-color);
  min-width: 100%;
}

.Button {
  width: max-content;

  background-color: var(--secondary-color);
  transition: 0.9s;
  &:hover {
    background-color: var(--primary-color) !important;
    color: var(--background-color) !important;
  }
}
.inputsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
