.item {
  color: var(--primary-color);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--secondary-color);
  border-bottom: 2px solid var(--secondary-color) !important;
  border-radius: 8px;
  min-height: 100px;
  margin-bottom: 15px;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.red {
  color: red;
}

.green {
  color: rgb(24, 255, 24);
}
